html
:root{
    height:100%;
}

#titulo{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(202, 84, 5);
    font-weight: bold;
    text-align: center;
    margin: 5px;
    font-size: 25px;
}

body {
    background: linear-gradient(180deg ,rgb(191, 194, 55) 0%,#ff0000 100%);
    background-size: 100%;
    font-size: 100%;
    font-family: sans-serif;
    margin: 2%;
    height: 100%;    
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.coluna1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coluna2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botao{
    width: 40%;
    height: 60px;
    background-color: #2093e0;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    transition: filter 0.2s;
    cursor: pointer;
    margin-left: 150px;
}

.botao:hover {
    filter: brightness(70%);
  }

.cadastro label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #292929;
    cursor: pointer;
}

#form{
    width: 500px;
    min-height: 400px;
    background: #fff;
    border-radius: 6px;
    padding: 20px 30px;
}

.cadastro 
input:not([type="radio"]) {
    background: #c5c4c4;
    border: 1px solid #979696;
    border-radius: 2px;
    padding: 8px 8px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}


input{
    box-sizing: border-box;
    outline:none;
}

